doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="renderer", content="webkit")
    meta(name="viewport" content="width=1200, initial-scale=1.0,  maximum-scale=1.0, user-scalable=yes")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
  body
    block head
      include head
    block content
      h1 这是主页
    block footer
      include footer